In [1]:
import pandas as pd

In [3]:
movie = pd.read_csv(r"C:\Users\Prasad\Downloads\data\data\movie.csv")

In [5]:
movie.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [15]:
movie_actor_director = movie[["actor_1_name", "actor_2_name", "actor_3_name","director_name"]]

In [17]:
movie_actor_director

,actor_1_name,actor_2_name,actor_3_name,director_name
0,CCH Pounder,Joel David Moore,Wes Studi,James Cameron
1,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan
4,Doug Walker,Rob Walker,NaN,Doug Walker
...,...,...,...,...
4911,Eric Mabius,Daphne Zuniga,Crystal Lowe,Scott Smith
4912,Natalie Zea,Valorie Curry,Sam Underwood,NaN
4913,Eva Boehnke,Maxwell Moody,David Chandler,Benjamin Roberds
4914,Alan Ruck,Daniel Henney,Eliza Coupe,Daniel Hsia
4915,John August,Brian Herzlinger,Jon Gunn,Jon Gunn

In [19]:
movie.shape

(4916, 28)

In [25]:
movie.count() # It counts non missing values for each column

color                        4897
director_name                4814
num_critic_for_reviews       4867
duration                     4901
director_facebook_likes      4814
actor_3_facebook_likes       4893
actor_2_name                 4903
actor_1_facebook_likes       4909
gross                        4054
genres                       4916
actor_1_name                 4909
movie_title                  4916
num_voted_users              4916
cast_total_facebook_likes    4916
actor_3_name                 4893
facenumber_in_poster         4903
plot_keywords                4764
movie_imdb_link              4916
num_user_for_reviews         4895
language                     4902
country                      4911
content_rating               4616
budget                       4432
title_year                   4810
actor_2_facebook_likes       4903
imdb_score                   4916
aspect_ratio                 4590
movie_facebook_likes         4916
dtype: int64

In [29]:
movie.isnull().sum()  # counts missing values for each column

color                         19
director_name                102
num_critic_for_reviews        49
duration                      15
director_facebook_likes      102
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        862
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                152
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               300
budget                       484
title_year                   106
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 326
movie_facebook_likes           0
dtype: int64

In [33]:
movie.isnull().sum().sum()  # Total missing values in the dataframe

2656

In [37]:
movie + 1

TypeError: can only concatenate str (not "int") to str

In [41]:
movie>5

TypeError: '>' not supported between instances of 'str' and 'int'

In [45]:
import numpy as np

np.nan == np.nan

False

In [47]:
movie.isnull()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,True,True,False,True,False,False,True,False,...,True,True,True,True,True,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,True,False,False,False,True,False
4912,False,True,False,False,True,False,False,False,True,False,...,False,False,False,False,True,True,False,False,False,False
4913,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,True,False
4914,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4915,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [49]:
movie.isnull().sum()

color                         19
director_name                102
num_critic_for_reviews        49
duration                      15
director_facebook_likes      102
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        862
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                152
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               300
budget                       484
title_year                   106
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 326
movie_facebook_likes           0
dtype: int64

In [51]:
movie.count(axis=1)  # counts non missing values for each row

0       28
1       28
2       28
3       28
4       14
        ..
4911    24
4912    23
4913    24
4914    26
4915    28
Length: 4916, dtype: int64

In [53]:
movie['has_seen']=0 ## Creates a new column has_seen with value 0

In [55]:
movie

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,has_seen
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,0
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,0
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,0
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84,0
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000,0
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16,0
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660,0
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456,0

In [57]:
movie['actor_director_facebook_likes']= (movie['actor_1_facebook_likes'] + movie['actor_2_facebook_likes']+ movie['actor_3_facebook_likes']+ movie['director_facebook_likes'])

In [59]:
movie

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,has_seen,actor_director_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,0,2791.0
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,0,46563.0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,0,11554.0
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,0,95000.0
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84,0,1427.0
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000,0,NaN
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16,0,0.0
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660,0,2154.0
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456,0,141.0

In [61]:
movie.isnull()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,has_seen,actor_director_facebook_likes
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,True,True,False,True,False,False,True,False,...,True,True,True,True,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,False,False,False,False,False,False,False,False,True,False,...,False,True,True,False,False,False,True,False,False,False
4912,False,True,False,False,True,False,False,False,True,False,...,False,False,True,True,False,False,False,False,False,True
4913,False,False,False,False,False,False,False,False,True,False,...,False,True,False,False,False,False,True,False,False,False
4914,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4915,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [63]:
movie.isnull().sum()

color                             19
director_name                    102
num_critic_for_reviews            49
duration                          15
director_facebook_likes          102
actor_3_facebook_likes            23
actor_2_name                      13
actor_1_facebook_likes             7
gross                            862
genres                             0
actor_1_name                       7
movie_title                        0
num_voted_users                    0
cast_total_facebook_likes          0
actor_3_name                      23
facenumber_in_poster              13
plot_keywords                    152
movie_imdb_link                    0
num_user_for_reviews              21
language                          14
country                            5
content_rating                   300
budget                           484
title_year                       106
actor_2_facebook_likes            13
imdb_score                         0
aspect_ratio                     326
movie_facebook_likes               0
has_seen                           0
actor_director_facebook_likes    122
dtype: int64

In [65]:
movie.isnull().any()

color                             True
director_name                     True
num_critic_for_reviews            True
duration                          True
director_facebook_likes           True
actor_3_facebook_likes            True
actor_2_name                      True
actor_1_facebook_likes            True
gross                             True
genres                           False
actor_1_name                      True
movie_title                      False
num_voted_users                  False
cast_total_facebook_likes        False
actor_3_name                      True
facenumber_in_poster              True
plot_keywords                     True
movie_imdb_link                  False
num_user_for_reviews              True
language                          True
country                           True
content_rating                    True
budget                            True
title_year                        True
actor_2_facebook_likes            True
imdb_score                       False
aspect_ratio                      True
movie_facebook_likes             False
has_seen                         False
actor_director_facebook_likes     True
dtype: bool

In [69]:
movie.isnull().sum()

color                             19
director_name                    102
num_critic_for_reviews            49
duration                          15
director_facebook_likes          102
actor_3_facebook_likes            23
actor_2_name                      13
actor_1_facebook_likes             7
gross                            862
genres                             0
actor_1_name                       7
movie_title                        0
num_voted_users                    0
cast_total_facebook_likes          0
actor_3_name                      23
facenumber_in_poster              13
plot_keywords                    152
movie_imdb_link                    0
num_user_for_reviews              21
language                          14
country                            5
content_rating                   300
budget                           484
title_year                       106
actor_2_facebook_likes            13
imdb_score                         0
aspect_ratio                     326
movie_facebook_likes               0
has_seen                           0
actor_director_facebook_likes    122
dtype: int64

In [71]:
movie.isnull().fillna(0)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,has_seen,actor_director_facebook_likes
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,True,True,False,True,False,False,True,False,...,True,True,True,True,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,False,False,False,False,False,False,False,False,True,False,...,False,True,True,False,False,False,True,False,False,False
4912,False,True,False,False,True,False,False,False,True,False,...,False,False,True,True,False,False,False,False,False,True
4913,False,False,False,False,False,False,False,False,True,False,...,False,True,False,False,False,False,True,False,False,False
4914,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4915,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [79]:
k=movie.isnull().fillna(0)

In [81]:
k.astype(int)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,has_seen,actor_director_facebook_likes
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,1,1,0,1,0,0,1,0,...,1,1,1,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,0,0,0,0,0,0,0,0,1,0,...,0,1,1,0,0,0,1,0,0,0
4912,0,1,0,0,1,0,0,0,1,0,...,0,0,1,1,0,0,0,0,0,1
4913,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,1,0,0,0
4914,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4915,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [83]:
movie

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,has_seen,actor_director_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,0,2791.0
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,0,46563.0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,0,11554.0
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,0,95000.0
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84,0,1427.0
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000,0,NaN
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16,0,0.0
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660,0,2154.0
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456,0,141.0

In [99]:
movie.dtypes

color                             object
director_name                     object
num_critic_for_reviews           float64
duration                         float64
director_facebook_likes          float64
actor_3_facebook_likes           float64
actor_2_name                      object
actor_1_facebook_likes           float64
gross                            float64
genres                            object
actor_1_name                      object
movie_title                       object
num_voted_users                    int64
cast_total_facebook_likes          int64
actor_3_name                      object
facenumber_in_poster             float64
plot_keywords                     object
movie_imdb_link                   object
num_user_for_reviews             float64
language                          object
country                           object
content_rating                    object
budget                           float64
title_year                       float64
actor_2_facebook_likes           float64
imdb_score                       float64
aspect_ratio                     float64
movie_facebook_likes               int64
has_seen                           int64
actor_director_facebook_likes    float64
dtype: object

In [105]:
movie.select_dtypes(include="int")

,num_voted_users,cast_total_facebook_likes,movie_facebook_likes,has_seen
0,886204,4834,33000,0
1,471220,48350,0,0
2,275868,11700,85000,0
3,1144337,106759,164000,0
4,8,143,0,0
...,...,...,...,...
4911,629,2283,84,0
4912,73839,1753,32000,0
4913,38,0,16,0
4914,1255,2386,660,0
4915,4285,163,456,0

In [107]:
movie.isna()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,has_seen,actor_director_facebook_likes
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,True,True,False,True,False,False,True,False,...,True,True,True,True,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,False,False,False,False,False,False,False,False,True,False,...,False,True,True,False,False,False,True,False,False,False
4912,False,True,False,False,True,False,False,False,True,False,...,False,False,True,True,False,False,False,False,False,True
4913,False,False,False,False,False,False,False,False,True,False,...,False,True,False,False,False,False,True,False,False,False
4914,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4915,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [109]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 30 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   color                          4897 non-null   object
 1   director_name                  4814 non-null   object
 2   num_critic_for_reviews         4867 non-null   float64
 3   duration                       4901 non-null   float64
 4   director_facebook_likes        4814 non-null   float64
 5   actor_3_facebook_likes         4893 non-null   float64
 6   actor_2_name                   4903 non-null   object
 7   actor_1_facebook_likes         4909 non-null   float64
 8   gross                          4054 non-null   float64
 9   genres                         4916 non-null   object
 10  actor_1_name                   4909 non-null   object
 11  movie_title                    4916 non-null   object
 12  num_voted_users                4916 non-null   int64
 13  cast_total_facebook_likes      4916 non-null   int64
 14  actor_3_name                   4893 non-null   object
 15  facenumber_in_poster           4903 non-null   float64
 16  plot_keywords                  4764 non-null   object
 17  movie_imdb_link                4916 non-null   object
 18  num_user_for_reviews           4895 non-null   float64
 19  language                       4902 non-null   object
 20  country                        4911 non-null   object
 21  content_rating                 4616 non-null   object
 22  budget                         4432 non-null   float64
 23  title_year                     4810 non-null   float64
 24  actor_2_facebook_likes         4903 non-null   float64
 25  imdb_score                     4916 non-null   float64
 26  aspect_ratio                   4590 non-null   float64
 27  movie_facebook_likes           4916 non-null   int64
 28  has_seen                       4916 non-null   int64
 29  actor_director_facebook_likes  4794 non-null   float64
dtypes: float64(14), int64(4), object(12)
memory usage: 1.1+ MB

In [111]:
movie.value_counts

<bound method DataFrame.value_counts of       color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
4       NaN        Doug Walker                     NaN       NaN
...     ...                ...                     ...       ...
4911  Color        Scott Smith                     1.0      87.0
4912  Color                NaN                    43.0      43.0
4913  Color   Benjamin Roberds                    13.0      76.0
4914  Color        Daniel Hsia                    14.0     100.0
4915  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                         0.0                   855.0  Joel David Moore
1                       563.0                  1000.0     Orlando Bloom
2                         0.0                   161.0      Rory Kinnear
3                     22000.0                 23000.0    Christian Bale
4                       131.0                     NaN        Rob Walker
...                       ...                     ...               ...
4911                      2.0                   318.0     Daphne Zuniga
4912                      NaN                   319.0     Valorie Curry
4913                      0.0                     0.0     Maxwell Moody
4914                      0.0                   489.0     Daniel Henney
4915                     16.0                    16.0  Brian Herzlinger

      actor_1_facebook_likes        gross                           genres  \
0                     1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi
1                    40000.0  309404152.0         Action|Adventure|Fantasy
2                    11000.0  200074175.0        Action|Adventure|Thriller
3                    27000.0  448130642.0                  Action|Thriller
4                      131.0          NaN                      Documentary
...                      ...          ...                              ...
4911                   637.0          NaN                     Comedy|Drama
4912                   841.0          NaN     Crime|Drama|Mystery|Thriller
4913                     0.0          NaN            Drama|Horror|Thriller
4914                   946.0      10443.0             Comedy|Drama|Romance
4915                    86.0      85222.0                      Documentary

      ... country content_rating       budget  title_year  \
0     ...     USA          PG-13  237000000.0      2009.0
1     ...     USA          PG-13  300000000.0      2007.0
2     ...      UK          PG-13  245000000.0      2015.0
3     ...     USA          PG-13  250000000.0      2012.0
4     ...     NaN            NaN          NaN         NaN
...   ...     ...            ...          ...         ...
4911  ...  Canada            NaN          NaN      2013.0
4912  ...     USA          TV-14          NaN         NaN
4913  ...     USA            NaN       1400.0      2013.0
4914  ...     USA          PG-13          NaN      2012.0
4915  ...     USA             PG       1100.0      2004.0

     actor_2_facebook_likes  imdb_score aspect_ratio movie_facebook_likes  \
0                     936.0         7.9         1.78                33000
1                    5000.0         7.1         2.35                    0
2                     393.0         6.8         2.35                85000
3                   23000.0         8.5         2.35               164000
4                      12.0         7.1          NaN                    0
...                     ...         ...          ...                  ...
4911                  470.0         7.7          NaN                   84
4912                  593.0         7.5        16.00                32000
4913                    0.0         6.3          NaN                   16
4914                  719.0         6.3         2.35                  660
4915                   23.0         6.6         1.85                  456

      has_seen actor_director_facebook_likes
0            0                        2791.0
1            0                       46563.0
2            0                       11554.0
3            0                       95000.0
4            0                           NaN
...        ...                           ...
4911         0                        1427.0
4912         0                           NaN
4913         0                           0.0
4914         0                        2154.0
4915         0                         141.0

[4916 rows x 30 columns]>

In [117]:
movie['director_name'].value_counts()

director_name
Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
Ridley Scott        16
                    ..
John Putch           1
Luca Guadagnino      1
Sam Fell             1
Dan Fogelman         1
Daniel Hsia          1
Name: count, Length: 2397, dtype: int64

In [119]:
movie['director_name'].count()

4814

In [121]:
movie.sort_index()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,has_seen,actor_director_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,0,2791.0
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,0,46563.0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,0,11554.0
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,0,95000.0
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84,0,1427.0
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000,0,NaN
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16,0,0.0
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660,0,2154.0
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456,0,141.0