## he current DataFrame has a simple RangeIndex. Set the DBA Name column as the index permanently to make it more meaningful. Save the result to variable df and output the first five rows with the head() method.

In [6]:
import pandas as pd
import numpy as np

df= pd.read_csv(r"C:\Users\Prasad\Downloads\data\data\food_inspections.csv", index_col=0)

In [13]:
df.head()

,Facility Type,Risk,Address,Zip,Inspection Date,Inspection Type,Results,Violations
DBA Name,,,,,,,,
DANY'S TACOS,Restaurant,Risk 1 (High),2857 S ST LOUIS AVE,60623.0,03/27/2017,License,Fail,"16. FOOD PROTECTED DURING STORAGE, PREPARATION..."
BILLY FOOD MARKET INC,NaN,Risk 3 (Low),3906 W ROOSEVELT RD,60624.0,03/27/2017,License,Not Ready,NaN
TAQUERIA HACIENDA TAPATIA,Restaurant,Risk 1 (High),4125 W 26TH ST,60623.0,03/27/2017,License Re-Inspection,Pass,2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...
WILD GOOSE BAR & GRILL,Restaurant,Risk 1 (High),4265 N LINCOLN AVE,60618.0,03/27/2017,Canvass,Fail,"16. FOOD PROTECTED DURING STORAGE, PREPARATION..."
PUBLICAN TAVERN K1,Restaurant,Risk 1 (High),11601 W TOUHY AVE,60666.0,03/27/2017,Canvass,Fail,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...

## Exercise 2: Select the Risk column as a Series using the [] operator. Also, try selecting it as an attribute.

In [21]:
df['Risk']

DBA Name
DANY'S TACOS                   Risk 1 (High)
BILLY FOOD MARKET INC           Risk 3 (Low)
TAQUERIA HACIENDA TAPATIA      Risk 1 (High)
WILD GOOSE BAR & GRILL         Risk 1 (High)
PUBLICAN TAVERN K1             Risk 1 (High)
                                  ...
FRESH PANTRY                 Risk 2 (Medium)
BUTTER                          Risk 3 (Low)
SAFAH FOOD & LIQUOR INC         Risk 3 (Low)
RAINBOW GROCERY                 Risk 3 (Low)
MAKIA FOOD                      Risk 3 (Low)
Name: Risk, Length: 24063, dtype: object

In [25]:
df.loc[:,['Risk']]

                                      Risk
DBA Name
DANY'S TACOS                 Risk 1 (High)
BILLY FOOD MARKET INC         Risk 3 (Low)
TAQUERIA HACIENDA TAPATIA    Risk 1 (High)
WILD GOOSE BAR & GRILL       Risk 1 (High)
PUBLICAN TAVERN K1           Risk 1 (High)
...                                    ...
FRESH PANTRY               Risk 2 (Medium)
BUTTER                        Risk 3 (Low)
SAFAH FOOD & LIQUOR INC       Risk 3 (Low)
RAINBOW GROCERY               Risk 3 (Low)
MAKIA FOOD                    Risk 3 (Low)

[24063 rows x 1 columns]

## Exercise 3: Select the Risk and Results columns.

In [31]:
df.loc[:,['Risk','Results']]

                                      Risk    Results
DBA Name
DANY'S TACOS                 Risk 1 (High)       Fail
BILLY FOOD MARKET INC         Risk 3 (Low)  Not Ready
TAQUERIA HACIENDA TAPATIA    Risk 1 (High)       Pass
WILD GOOSE BAR & GRILL       Risk 1 (High)       Fail
PUBLICAN TAVERN K1           Risk 1 (High)       Fail
...                                    ...        ...
FRESH PANTRY               Risk 2 (Medium)       Pass
BUTTER                        Risk 3 (Low)       Pass
SAFAH FOOD & LIQUOR INC       Risk 3 (Low)       Pass
RAINBOW GROCERY               Risk 3 (Low)       Pass
MAKIA FOOD                    Risk 3 (Low)       Pass

[24063 rows x 2 columns]

## Exercise 4: Select any column as a DataFrame.

In [35]:
df2 = pd.DataFrame(df['Results'])

In [37]:
df2

                             Results
DBA Name
DANY'S TACOS                    Fail
BILLY FOOD MARKET INC      Not Ready
TAQUERIA HACIENDA TAPATIA       Pass
WILD GOOSE BAR & GRILL          Fail
PUBLICAN TAVERN K1              Fail
...                              ...
FRESH PANTRY                    Pass
BUTTER                          Pass
SAFAH FOOD & LIQUOR INC         Pass
RAINBOW GROCERY                 Pass
MAKIA FOOD                      Pass

[24063 rows x 1 columns]

## Exercise 5: Select the row for the restaurant “WILD GOOSE BAR & GRILL.” What object is returned?

In [39]:
df.loc['WILD GOOSE BAR & GRILL']

Facility Type                                             Restaurant
Risk                                                   Risk 1 (High)
Address                                          4265 N LINCOLN AVE
Zip                                                          60618.0
Inspection Date                                           03/27/2017
Inspection Type                                              Canvass
Results                                                         Fail
Violations         16. FOOD PROTECTED DURING STORAGE, PREPARATION...
Name: WILD GOOSE BAR & GRILL, dtype: object

## Exercise 6: Select the rows for the restaurants “WILD GOOSE BAR & GRILL” and “TAQUERIA HACIENDA TAPATIA” along with the Risk and Results columns.

In [8]:
df.loc[['WILD GOOSE BAR & GRILL','TAQUERIA HACIENDA TAPATIA'],["Risk",'Results']]

                                    Risk Results
DBA Name
WILD GOOSE BAR & GRILL     Risk 1 (High)    Fail
TAQUERIA HACIENDA TAPATIA  Risk 1 (High)    Pass

## Exercise 7: What is the risk of the restaurant “SCRUB A DUB”?

In [11]:
df.loc[['SCRUB A DUB'],['Risk']]

                        Risk
DBA Name
SCRUB A DUB  Risk 2 (Medium)

## Exercise 8: Select every 3,000th restaurant from “THRESHOLD SCHOOL” to “SCRUB A DUB,” including the columns from Inspection Type to the end of the DataFrame.

In [19]:
df.loc['THRESHOLD SCHOOL']

Facility Type                                                 School
Risk                                                   Risk 1 (High)
Address                                          4219 N LINCOLN AVE
Zip                                                          60618.0
Inspection Date                                           03/27/2017
Inspection Type                                              Canvass
Results                                                         Pass
Violations         38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS...
Name: THRESHOLD SCHOOL, dtype: object

In [39]:
df.loc['THRESHOLD SCHOOL':'SCRUB A DUB':3000, 'Inspection Type':]

,Inspection Type,Results,Violations
DBA Name,,,
THRESHOLD SCHOOL,Canvass,Pass,38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS...
SAN JOSE FAST FOOD,Canvass,Out of Business,NaN
CHUCHOS ON ADDISON INC,Canvass,Pass w/ Conditions,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
PIZZERIA AROMA,Canvass Re-Inspection,Pass,2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...
JEWEL FOOD STORE #3210,Canvass,No Entry,NaN
EGANS TAVERN,Canvass,Out of Business,NaN
Los Amigos Grill,Canvass,Out of Business,NaN
JOHNNY VAN'S SMOKEHOUSE,License,Pass,NaN
WEN CAFE INC,Out of Business,Fail,NaN

## Exercise 9: Select all columns from the 500th restaurant to the 510th.

In [42]:
df.iloc[500:511, :]

,Facility Type,Risk,Address,Zip,Inspection Date,Inspection Type,Results,Violations
DBA Name,,,,,,,,
THE MECCA RESTAURANT,Restaurant,Risk 1 (High),6666 N NORTHWEST HWY,60631.0,03/14/2017,Canvass,Pass w/ Conditions,8. SANITIZING RINSE FOR EQUIPMENT AND UTENSILS...
L & T CHINA FAST WOK INC.,Restaurant,Risk 1 (High),2020 N CALIFORNIA AVE,60647.0,03/14/2017,Canvass,Pass,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
SCHNEIDER SENIOR APARTMENT,Golden Diner,Risk 1 (High),1750 W PETERSON AVE,60660.0,03/14/2017,Canvass Re-Inspection,Pass,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR..."
ECKHARDT CAFE,Restaurant,Risk 1 (High),5640 S ELLIS AVE,60637.0,03/14/2017,Canvass,Pass,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
WING ZONE,Restaurant,Risk 1 (High),1757 W 87TH ST,60620.0,03/14/2017,Canvass,Out of Business,NaN
ARBYS,Restaurant,Risk 1 (High),500 W MADISON ST,60661.0,03/14/2017,Canvass,Pass,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO..."
LAS ISLAS MARIAS,Restaurant,Risk 1 (High),8205-8209 S PULASKI RD,60652.0,03/14/2017,Canvass,Pass,"30. FOOD IN ORIGINAL CONTAINER, PROPERLY LABEL..."
MARGARET'S,Restaurant,Risk 1 (High),5134 W IRVING PARK RD,60641.0,03/14/2017,Canvass,Pass,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
POPEYES FAMOUS FRIED CHICKEN,Restaurant,Risk 2 (Medium),9516 S VINCENNES AVE,60643.0,03/14/2017,Complaint,Pass w/ Conditions,3. POTENTIALLY HAZARDOUS FOOD MEETS TEMPERATUR...
PJ PIZZA COMPANY 1 DBA PAPA JOHNS,Restaurant,Risk 2 (Medium),1755 W 87TH ST,60620.0,03/14/2017,Canvass,Out of Business,NaN
DUNKIN DONUTS,Restaurant,Risk 2 (Medium),2340 W 52ND ST,60609.0,03/14/2017,Short Form Complaint,Pass,"43. FOOD (ICE) DISPENSING UTENSILS, WASH CLOTH..."

## Exercise 10: Select restaurants at indices 100, 1000, and 10000 along with columns at positions 5, 3, and 1.

In [48]:
df.iloc[[100,1000,10000],[5,3,1]]

                           Inspection Type      Zip           Risk
DBA Name
TAQUERIA LA CANTERA                License  60608.0  Risk 1 (High)
PARK TAVERN CHICAGO              Complaint  60612.0  Risk 1 (High)
LITTLE VILLAGE HIGH SCHOOL         Canvass  60623.0  Risk 1 (High)

## Exercise 11: Select the Risk column and save it as a Series.

In [59]:
Risk = df['Risk']

In [61]:
Risk

DBA Name
DANY'S TACOS                   Risk 1 (High)
BILLY FOOD MARKET INC           Risk 3 (Low)
TAQUERIA HACIENDA TAPATIA      Risk 1 (High)
WILD GOOSE BAR & GRILL         Risk 1 (High)
PUBLICAN TAVERN K1             Risk 1 (High)
                                  ...
FRESH PANTRY                 Risk 2 (Medium)
BUTTER                          Risk 3 (Low)
SAFAH FOOD & LIQUOR INC         Risk 3 (Low)
RAINBOW GROCERY                 Risk 3 (Low)
MAKIA FOOD                      Risk 3 (Low)
Name: Risk, Length: 24063, dtype: object

## Exercise 12: Using the Risk Series, select the values for “ARBYS” and “POPEYES FAMOUS FRIED CHICKEN.”

In [64]:
Risk[['ARBYS','POPEYES FAMOUS FRIED CHICKEN']]

DBA Name
ARBYS                             Risk 1 (High)
POPEYES FAMOUS FRIED CHICKEN    Risk 2 (Medium)
Name: Risk, dtype: object

In [66]:
df[2:5]

,Facility Type,Risk,Address,Zip,Inspection Date,Inspection Type,Results,Violations
DBA Name,,,,,,,,
TAQUERIA HACIENDA TAPATIA,Restaurant,Risk 1 (High),4125 W 26TH ST,60623.0,03/27/2017,License Re-Inspection,Pass,2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...
WILD GOOSE BAR & GRILL,Restaurant,Risk 1 (High),4265 N LINCOLN AVE,60618.0,03/27/2017,Canvass,Fail,"16. FOOD PROTECTED DURING STORAGE, PREPARATION..."
PUBLICAN TAVERN K1,Restaurant,Risk 1 (High),11601 W TOUHY AVE,60666.0,03/27/2017,Canvass,Fail,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...