In [21]:
import pandas as pd
import numpy as np

so = pd.read_csv(r"C:\Users\Prasad\Downloads\data\data\stackoverflow_qa.csv")
so_head = so.head()

s = pd.Series([False, False, True, True, True])


print("Boolean Series Index:")
print(s.index)

print("\\nDataFrame Index:")
print(so_head.index)

Boolean Series Index:
RangeIndex(start=0, stop=5, step=1)
\nDataFrame Index:
RangeIndex(start=0, stop=5, step=1)

In [23]:
so_head[s]

,id,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
2,5558607,2011-04-05 21:13:50,2,7392,Sort a pandas DataMatrix in ascending order,2,0,1.0,Jason Strimpel,3301.0,Wes McKinney,43310.0
3,6467832,2011-06-24 12:31:45,9,13056,How to get the correlation between two timeser...,1,0,7.0,user814005,117.0,Wes McKinney,43310.0
4,7577546,2011-09-28 01:58:38,9,2488,"Using pandas, how do I subsample a large DataF...",1,0,5.0,Uri Laserson,958.0,HYRY,54137.0

In [27]:
so_head.set_index('id', inplace=True)

print("Boolean Series Index:")
print(s.index)

print("\\nDataFrame Index:")
print(so_head.index)

so_head[s]

Boolean Series Index:
RangeIndex(start=0, stop=5, step=1)
\nDataFrame Index:
Index([5486226, 5515021, 5558607, 6467832, 7577546], dtype='int64', name='id')

C:\Users\Prasad\AppData\Local\Temp\ipykernel_19704\1588556397.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  so_head[s]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [17]:
so_head

,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
id,,,,,,,,,,,
5486226,2011-03-30 12:26:50,4,2113,Rolling median in python,3,4,1.0,yueerhu,125.0,Mike Pennington,26995.0
5515021,2011-04-01 14:50:44,8,7015,Compute a compounded return series in Python,3,6,7.0,Jason Strimpel,3301.0,Mike Pennington,26995.0
5558607,2011-04-05 21:13:50,2,7392,Sort a pandas DataMatrix in ascending order,2,0,1.0,Jason Strimpel,3301.0,Wes McKinney,43310.0
6467832,2011-06-24 12:31:45,9,13056,How to get the correlation between two timeser...,1,0,7.0,user814005,117.0,Wes McKinney,43310.0
7577546,2011-09-28 01:58:38,9,2488,"Using pandas, how do I subsample a large DataF...",1,0,5.0,Uri Laserson,958.0,HYRY,54137.0

In [19]:
s

0    False
1    False
2     True
3     True
4     True
dtype: bool

In [31]:
s_condition = so_head['score']>5
so_head[s_condition]

,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
id,,,,,,,,,,,
5515021,2011-04-01 14:50:44,8,7015,Compute a compounded return series in Python,3,6,7.0,Jason Strimpel,3301.0,Mike Pennington,26995.0
6467832,2011-06-24 12:31:45,9,13056,How to get the correlation between two timeser...,1,0,7.0,user814005,117.0,Wes McKinney,43310.0
7577546,2011-09-28 01:58:38,9,2488,"Using pandas, how do I subsample a large DataF...",1,0,5.0,Uri Laserson,958.0,HYRY,54137.0