In [3]:
import pandas as pd

marks={
    'Maths': [15, 17, 6, 14, 19],
    'English':[20, 20, 12, 13, 18],
    'Science':[15, 7, 16, 20, 9]
}

marks_df = pd.DataFrame(marks)
print(marks_df)

   Maths  English  Science
0     15       20       15
1     17       20        7
2      6       12       16
3     14       13       20
4     19       18        9

In [12]:
marks_df = pd.DataFrame(marks, columns =['English', 'Maths', 'Science'])
print(marks_df)

   English  Maths  Science
0       20     15       15
1       20     17        7
2       12      6       16
3       13     14       20
4       18     19        9

In [14]:
marks_df = pd.DataFrame(marks,columns=['English','Maths','Science','History'])
print(marks_df)

   English  Maths  Science History
0       20     15       15     NaN
1       20     17        7     NaN
2       12      6       16     NaN
3       13     14       20     NaN
4       18     19        9     NaN

In [16]:
print(marks_df['Maths'])
print(marks_df.Maths)

0    15
1    17
2     6
3    14
4    19
Name: Maths, dtype: int64
0    15
1    17
2     6
3    14
4    19
Name: Maths, dtype: int64

In [18]:
marks_df.History = 15
print(marks_df)

   English  Maths  Science  History
0       20     15       15       15
1       20     17        7       15
2       12      6       16       15
3       13     14       20       15
4       18     19        9       15

In [37]:
import numpy as np

random_marks_history=(np.random.rand(5) * 20).astype('int')

marks_df['History'] = random_marks_history 
print(marks_df)

   English  Maths  Science  History
0       20     15       15        2
1       20     17        7       19
2       12      6       16       10
3       13     14       20       18
4       18     19        9       15

In [39]:
chemistry = pd.Series([10,12,13,15,9], index=[1,2,3,4,5])
marks_df['Chemistry']=chemistry

print(marks_df)

   English  Maths  Science  History  Chemistry
0       20     15       15        2        NaN
1       20     17        7       19       10.0
2       12      6       16       10       12.0
3       13     14       20       18       13.0
4       18     19        9       15       15.0