In [29]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\Prasad\Downloads\data\data\sample_data.csv", index_col=0)

In [31]:
df

          state  color    food  age  height  score
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

In [33]:
food=df['food']
food

Jane          Steak
Niko           Lamb
Aaron         Mango
Penelope      Apple
Dean         Cheese
Christina     Melon
Cornelia      Beans
Name: food, dtype: object

In [35]:
food.loc['Aaron']

'Mango'

In [37]:
food.iloc[0]  ## for single index

'Steak'

In [39]:
# food.iloc[[4, 1, 3]]
food.iloc[[4, 1, 3]] ## selecting multiple values with a list of integers

Dean        Cheese
Niko          Lamb
Penelope     Apple
Name: food, dtype: object

In [41]:
food.iloc[4:6]

Dean         Cheese
Christina     Melon
Name: food, dtype: object

In [43]:
df.index

Index(['Jane', 'Niko', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'], dtype='object')

In [45]:
df.iloc[:3]

      state  color   food  age  height  score
Jane     NY   blue  Steak   30     165    4.6
Niko     TX  green   Lamb    2      70    8.3
Aaron    FL    red  Mango   12     120    9.0

In [47]:
df.loc[:3]

TypeError: cannot do slice indexing on Index with these indexers [3] of type int

In [ ]:
df.iloc[-1]

In [50]:
df.loc[-1]

KeyError: -1

In [52]:
df[['age','age','age']]

           age  age  age
Jane        30   30   30
Niko         2    2    2
Aaron       12   12   12
Penelope     4    4    4
Dean        32   32   32
Christina   33   33   33
Cornelia    69   69   69

In [55]:
df.loc['Aaron']

state        FL
color       red
food      Mango
age          12
height      120
score       9.0
Name: Aaron, dtype: object

In [57]:
food.loc[['Dean','Niko','Cornelia']]

Dean        Cheese
Niko          Lamb
Cornelia     Beans
Name: food, dtype: object

In [59]:
food.loc['Dean':'Christina']

Dean         Cheese
Christina     Melon
Name: food, dtype: object

In [61]:
food.loc['Penelope':]

Penelope      Apple
Dean         Cheese
Christina     Melon
Cornelia      Beans
Name: food, dtype: object