In [1]:
import pandas as pd

fruits = pd.Series(['Apple', 'Banana','Cherry'], index= ['a','b','c'])
print(fruits)

a     Apple
b    Banana
c    Cherry
dtype: object

In [3]:
import pandas as pd

data={
    'Name':['Alice', 'Bob', 'Charlie'],
    'Age':[25, 30, 35],
    'City':['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago